<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    <h1><%=user.email%></h1>
    <p><%= link_to ' Voltar', root_path, class: "btn btn-default glyphicon glyphicon-chevron-left" %>
    <%= link_to ' Editar', '/users/edit', class: "btn btn-default glyphicon glyphicon-cog" %></p>
  </div>
  <div class="row">
    <% user.companies.each do |company| %>
    <%= render company.jobs_active, type: "home" %>
    <% end %>
  </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->
