<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    <h1><%=user.mail%></h1>
    <p><%= link_to ' Voltar', root_path, class: "btn btn-default glyphicon glyphicon-chevron-left" %></p>
  </div>
</div><!--/.col-xs-12.col-sm-9-->
