<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    <h1>CampusJobs</h1>
    <p>Este site foi desenvolvido por Fábio Goródscy durante curso na Campus Code.
    Ele foi desenvolvido em Ruby on Rails, utilizando Bootstrap para interface.
    Foi colocado online utilizando Heroku, as imagens são armazenadas no Cloudinary.</p>
    <p><%= link_to ' Voltar', root_path, class: "btn btn-default glyphicon glyphicon-chevron-left" %></p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-lg-4 ">
      <div class="bordered common">
        <h3 class="title">Github</h3>
        <p>Esse projeto é open source!</p>
        <p>Acesse seu github clicando aqui.</p>
        <p><%= link_to 'Github »', 'https://github.com/fabiogoro/campusjobs', class: "btn btn-info" %></p>
      </div>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="col-xs-6 col-lg-4 ">
      <div class="bordered premium">
        <h3 class="title">Campus Code</h3>
        <p>Esse projeto foi desenvolvido</p>
        <p>durante a campus code. Mais informações:</p>
        <p><a href='http://campuscode.com.br/' class="btn btn-danger"><i class="glyphicon glyphicon-briefcase"></i><span class="hidden-xs"> Premium |</span> Detalhes »</a></p>
      </div>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="col-xs-6 col-lg-4 ">
      <div class="bordered recent">
        <h3 class="title">Quem sou eu?</h3>
        <p>Dúvidas? Mais informações?</p>
        <p>Pode adicionar!</p>
        <p><a href='http://facebook.com/gorodscy' class="btn btn-success"><i class="glyphicon glyphicon-asterisk"></i><span class="hidden-xs"> Novo! |</span> Detalhes »</a></p>
      </div>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="col-xs-6 col-lg-4 ">
      <div class="bordered featured">
        <h3 class="title">Rails?</h3>
        <p>Rails é um framework para<br>desenvolvimento web. Saiba mais.</p>
        <p><a href='http://rubyonrails.org/' class="btn btn-warning"><i class="glyphicon glyphicon-star"></i><span class="hidden-xs"> Featured |</span> Detalhes »</a></p>
      </div>
    </div><!--/.col-xs-6.col-lg-4-->
  </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->
