<div class="col-xs-12 col-sm-9">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="jumbotron">
    <h1>CampusJobs</h1>
    <p>Em parceria com as melhores empresas para se trabalhar no mundo,
    aqui no CampusJobs você conseguirá encontrar a oportunidade que
    sempre sonhou. O que está esperando? Participe!</p>
  </div>
  <div class="row">
    <%= render @jobs, type: "home" %>
  </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <h3>Empresas</h3>
    <%= render @companies, type: "home", active: "none" %>
  </div>

  <div class="list-group">
    <h3>Categorias</h3>
    <%= render @categories, type: "home", active: "none" %>
  </div>

  <div class="list-group">
    <h3>Tipo de Contratação</h3>
    <%= render @contract_types, type: "home", active: "none" %>
  </div>
</div><!--/.sidebar-offcanvas-->
